/* src/Login.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(206, 179, 179);
  }
  
  .loginForm {
    background-image:linear-gradient(to bottom,rgb(180,39,36),rgb(46,36,37));
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .logo {
    background-image: url('../../public/download.png'); /* Replace with the actual path to the logo */
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: left;
    color: #fff;
    margin: 0.5rem 0;
  }
  
  p {
    text-align: left;
    color: #fff;
  }
  
  .inputGroup {
    padding-left: 2%;
    border-radius: 10px;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border:none;
    
  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
  }
  .input:focus{
    border:none;
    outline: white;
    
  }
  
  .button {
    width: 100%;
    padding: 0.5rem;
    background-color: #d44060;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .button:hover{
    background-color: #ef053b;
  }
  
  .forgotPassword a {
    
    color: #fff;
    text-decoration: none;
    font-size: 0.7rem;
  }
  .forgotPassword{
    padding-top:7%;
    
    
    text-align: center;
  }
  
 .icon{
  
  height: 100%;
  width:100%;
  

 }